/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  max-inline-size: 700px;
  min-block-size: 100dvb;
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  justify-self: center;
  font-family: var(--main-font-family);
  font-variation-settings: 'wght' var(--main-text-weight);
}

.header {
  inline-size: 100%;
  margin-block-start: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font-family);
}

.header__logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  text-transform: uppercase;
  font-weight: var(--main-text-weight);
}

.header__title {
  font-size: var(--logo-title-size);
}

.header__subtitle {
  font-size: var(--logo-subtitle-size);
}

/*Конец шапки*/
/*Начало контента*/

.content {
  inline-size: 100%;
}

.card__list {
 inline-size: 100%; 
 display: grid;
 grid-template-columns: 1fr;
 gap: 50px;
}

.card {
  border: 2px solid #000;
}


.card__title {
  font-size: var(--main-text-size);
  font-variation-settings: 'wght' var(--subtitle-text-weight);
  padding:3px 24px 3px 10px;
  line-height: 100%;
}

.card__image-container {
  position:relative;
}

.card__image {
  inline-size: 100%;
  position:relative;
}

.card__lable {
  position: absolute;
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: var(--main-text-weight);
  top: 25px;
  right: 25px;
  z-index: 2;
  -webkit-text-stroke: 1px #fff;
}

.card__text-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  line-height: 117%;
}

.card__like-container {

}

.card__like-button {
  
}