/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font-family);
  font-variation-settings: 'wght' var(--main-text-weight), 'wdth' 110;
  color: var(--text-color);
  background-image: var(--background);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.content {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.header {
  margin-block-start: 100px;
  border: 2px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font-family);
  margin-bottom: 100px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  text-transform: uppercase;
  font-weight: var(--main-text-weight);
  background-color: var(--background-content-color);
}

.header__title {
  font-size: var(--logo-title-size);
}

.header__subtitle {
  font-size: var(--logo-subtitle-size);
}

/*Конец шапки*/
/*Начало контента*/
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.card {
  display:flex;
  flex-direction: column;
  background-color: var(--background-content-color);
}


.card__title {
  font-size: var(--main-text-size);
  font-variation-settings: 'wght' var(--subtitle-text-weight);
  padding-block-start: clamp(0.375rem, 0.441rem + -0.2817vw, 0.1875rem);
  padding-inline-end: clamp(0.625rem, 0.3169rem + 1.3146vw, 1.5rem);
  padding-block-end: clamp(0.375rem, 0.441rem + -0.2817vw, 0.1875rem);
  padding-inline-start: 10px;
  border: 2px solid var(--border-color);
}


.card__image {
  inline-size: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
  position: relative;
}

.card__image-label {
  position:absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font-family);
  font-size: var(--accent-font-size);
  font-weight:inherit;
  text-shadow: -1px -1px var(--text-stroke);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports(-webkit-text-stroke: 1px var(--text-stroke)) {
      .card__image-label {
        -webkit-text-stroke: 1px var(--text-stroke);
        text-shadow: none;
      };
};

.picture {
  object-position: center;
  object-fit: cover;
  display: block;
  inline-size: 100%;
  outline: 2px solid var(--accent-color);
  aspect-ratio: 1 / 1;
  margin-top: 8px;
  margin-bottom: 12px;
}

.card__content-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 2px solid var(--border-color);
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;

}

.card__text {
  font-size: var(--main-text-size);
  line-height: 21px;
}


.card__like-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 12px;
}

.button {
    position: relative;
    border: 2px solid var(--border-color, #000);
    padding: 0;
    background-color: var(--background-content-color, #fff);
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color, #000);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.card-icon-button {
  border: 2px solid var(--background-color);
  padding: 4px;
  transition: border-color 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  background-color: var(--background-content-color);
}

.card__icon-button:focus {
  outline: none;
  border-color: var(--accent-color, #000);
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000);
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--main-color, #000);
  transition-duration: 0.1s;
}

.core {
  fill: transparent;
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.like-icon:hover .core {
  fill: var(--main-color, #000);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon:active .core {
  fill: #ff0000;
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.main-body {
  fill: transparent;
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--main-color, #000);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon:active .main-body {
  fill: #ff0000;
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .core {
  fill: #ff0000;
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .contour {
  fill: #ff0000;
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .sparks {
  animation-name: heart-sparks;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.is-liked .heart {
  transform-origin: center;
  animation-name: heart-scale;
  animation-delay: 0.1s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.button {
  position: relative;
  border: 2px solid var(--main-color, #000);
  padding: 0;
  background-color: var(--background-color, #fff);
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px var(--main-color);
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color, #000);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--background-color, #fff);
  font-family: var(--accent-font), "Courier New", fantasy;
  font-size: var(--accent-font-size, 0.875rem);
  line-height: 0.9;
  mix-blend-mode: difference;
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

.card__like-button {
  inline-size: 130px ;
  block-size: 38px;
  text-align: center;
  font-family: var(--accent-font-family);
  font-size: var(--accent-font-size);
  font-weight: var(--main-text-weight);
  border: 2px solid var(--border-color);
}

/*

.floppy__modal_window_button {
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  block-size: clamp(5.25rem, 5.8882rem + -2.723vw, 3.4375rem);
  font-family: var(--accent-font-family);
  background-color: transparent;
  font-size: 14px;
  font-weight: var(--main-text-weight);
  padding: 0;
  margin: 0;
}*/

@media(width <= 375px) {
  .contetnt {
    inline-size: 100%;
  }
}