/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: "Inter-Variable", sans-serif;
  --accent-font-family: "PressStart2P-Regular";
  --main-text-weight: 400;
  --main-text-size: 18px;
  --subtitle-text-weight: 700;
  --logo-title-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --logo-text-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  --title-weight: var(--main-text-weight);
}
