:root {
  --gradient-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a);

    --main-font: "Inter-Variable";
    --accent-font: "PressStart2P";
    --accent-font-size: 0.875rem;
    --card-font-weight: 400;
    --background-color: #fff;
    --transform-time: 0.3s;
    --transition-function: ease;
    --accent-color: #000;
    --main-color: #000;
    --contour-color: var(--accent-color);
    --filling-color: #ff0000;
  }
